<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWIvFPiOkIIZExVPBaNVMzbPbtQLpCSmk</string>
	<key>GCM_SENDER_ID</key>
	<string>495662603586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.xyndev.montrex</string>
	<key>PROJECT_ID</key>
	<string>montrex-7ba17</string>
	<key>STORAGE_BUCKET</key>
	<string>montrex-7ba17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495662603586:ios:9edc81b85d74aaa45d7cdb</string>
</dict>
</plist>